$Green: #10a73d;
$LightGreen: #0ce04c48;

.app {
    display: flex;
    justify-content: center;
    background: radial-gradient(ellipse at top right, $LightGreen, transparent);

    .container {
        width: 1024px;

        .link {
            text-decoration: none;
            color: inherit;
        }

        // NAVBAR
        .navbar {
            .container {
                padding: 10px 0px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                h1 {
                    font-size: 36px;
                    font-weight: 300;
                }
                .logo{
                    img {
                        width: 150px;
                        mix-blend-mode: multiply;
                    } 
                }
                .links{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    h6 {
                        font-size: 16px;
                        font-weight: 300;
                    }

                    span {
                        cursor: pointer;
                    }

                    .add {
                        background-color: $Green;
                        width: 82px;
                        height: 82px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 300;
                        border: 1px solid white;

                        &:hover {
                        color: teal;
                        background-color: $LightGreen;
                        border: 1px solid teal;
                        }

                        .add-link {
                            text-decoration: none;
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            text-align: center; 
                        }
                    }

                }
            }
        }

        // FOOTER

        footer {
            margin-top: 100px;
            padding: 20px;

            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
                height: 100px;
                mix-blend-mode: multiply;
            }

        }

        // HOME PAGE

        .home {
            h1 {
                font-size: 50px;
                font-weight: 300;
            }
        }

        // JOURNEYS PAGE

        .journeys {
            margin-top: 50px;

            // TABLE

            th, td {
                padding: 15px;
                border: 1px solid #ccc;
            }

            h1 {
                font-size: 36px;
                font-weight: 300;
            }

            // PAGINATION

            .paginationBttns {
                width: 80%;
                height: 40px;
                list-style: none;
                display: flex;
                justify-content: center;
            }
              
            .paginationBttns a {
                padding: 10px;
                margin: 8px;
                border-radius: 5px;
                border: 1px solid $Green;
                color: black;
                cursor: pointer;
            }
              
            .paginationBttns a:hover {
                color: black;
                background-color: $LightGreen;
            }
              
            .paginationActive a {
                color: black;
                background-color: $Green;
            }

        }

        // STATIONS PAGE

        .stations {
            margin-top: 50px;

            // TABLE

            th, td {
                padding: 15px;
                border: 1px solid #ccc;
            }

            h1 {
                font-size: 36px;
                font-weight: 300;
            }

            // PAGINATION

            .paginationBttns {
                width: 80%;
                height: 40px;
                list-style: none;
                display: flex;
                justify-content: center;
            }
              
            .paginationBttns a {
                padding: 10px;
                margin: 8px;
                border-radius: 5px;
                border: 1px solid $Green;
                color: black;
                cursor: pointer;
            }
              
            .paginationBttns a:hover {
                color: black;
                background-color: $LightGreen;
            }
              
            .paginationActive a {
                color: black;
                background-color: $Green;
            }

        }  

        // LOADING SPINNER

        @keyframes spinner {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
        }
        .loading-spinner {
            width: 50px;
            height: 50px;
            border: 10px solid #f3f3f3; /* Light grey */
            border-top: 10px solid #383636; /* Blue */
            border-radius: 50%;
            animation: spinner 1.5s linear infinite;
        }
          
        .spinner-container {
            display: grid;
            justify-content: center;
            align-items: center;
            height: 350px;
        }
    }
}

    

 




